
:root {
    --primary-color: #4CAF50;
    --background-color: #F1F8E9;
}

.login-register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f9fa;
}

.login-register-card {
    width: 100%;
    max-width: 900px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.bg-green {
    background-color:  var(--primary-color);
}

.btn-green {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
}

.btn-green:hover {
    background-color:var(--primary-color);
    border-color: #45b7ae;
    color: white;
}

.text-green {
    color: var(--primary-color);
}

.form-control {
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    padding-left: 0;
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--primary-color);
}

.btn-outline-light {
    border-width: 2px;
}

.btn-outline-light:hover {
    background-color: white;
    color: var(--primary-color);
}

.login-register-card .card-body {
    display: flex;
    flex-direction: row;
}

.login-register-card .card-body > div {
    flex: 1;
}

@media (max-width: 767px) {
    .login-register-card .card-body {
        flex-direction: column;
    }
}